
* {
    box-sizing: border-box;
  }
  
  html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
  }
  
  body {
    padding: 0 0 1em;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    
  }
  
  header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
  }
  
  main {
    padding: 0 1em;
    display: flex;
  }
  
  aside.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
    flex: 0 0 30%;
    
    margin-top: 1em;
    display: flex;
    gap: 1em;
  }
  
  .cards {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    flex: 1;
  }
  
  .cards li {
    border: 5px solid #000;
    width: 48%;
  }
  
  .cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
  }
  
  .cards .inner {
    padding: 0.5em 1em;
  }
  
  @media screen and (max-width: 767px) {
    header {
      text-align: center;
      flex-direction: column;
    }
  
    header ul {
      margin-top: 0.5em;
    }
  
    main {
      margin-top: 1em;
      flex-direction: column;
    }
  
    .cards li {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) {
    header {
      text-align: left;
    }
  
    header ul {
      flex-direction: column;
    }
  
    header a {
      padding: 0.5em 1em;
    }
  
    main {
      flex: 1;
      gap: 1em;
    }
  
    .cards li {
      width: 48%;
    }
  
    .cards li:nth-child(4),
    .cards li:nth-child(5) {
      width: 48%;
      margin-top: 1em;
    }
  
    .cards li:nth-child(1),
    .cards li:nth-child(2),
    .cards li:nth-child(3),
    .cards li:nth-child(4),
    .cards li:nth-child(5) {
      flex-basis: 30%;
    }
  
    aside.sidebar {
      flex: 0 0 30%;
     
      padding-top: 1em;
    }
  

    header ul {
      padding: 0;
      margin: 0;
    }
  
    header li {
      margin-right: 0.5em;
    }
  }
  